@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/TestFont.ttf') format('truetype');
}

body {
    font-family: 'MyCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    /* background-color: #f5f5f5; */
    background-image: url('assets/images/NightJasmine-Site_Backgrounds/webBackground02.jpg');
    background-size: cover;
    background-position: center;
}

.banner {
    background: url('your-image.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}